<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/style.css')}}">
</head>
<body class="bg-dark">
    
    <nav class="navbar fixed-top mt-4 ms-4">
        <div class="container-fluid">
            <button class="navbar-toggler bg-white " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-white"></span>
            </button>
        </div>
    </nav>
    
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel"></h5>
            <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-start" style="height: 100%; padding-left: 20px; padding-top: 20px;">
            
            <img src="{{ url_for('static', filename='img/portfolio.jpg') }}" class="max-img rounded-pill" alt="Portfolio Image">
            <div class="d-flex justify-content-start align-items-center ms-5 mt-3">
                <a href="#" class="text-decoration-none">
                    <i class="fa-brands fa-facebook text-white icon-spacing" style="font-size: 25px;"></i>
                </a>
                <a href="#" class="text-decoration-none">
                    <i class="fa-brands fa-instagram text-white ms-3" style="font-size: 27px;"></i>
                </a>
            </div>
            
            
            <h5 class="font-sans fs-2 mt-1 mb-2" style="text-align: left;">Raymund Bucton</h5>
            
            
            <ul class="navbar-nav mb-auto gap-4 ps-4">
                <li class="nav-item">
                    <a class="nav-link active for-a" aria-current="page" href="{{ url_for('blueprint.dashboard') }}">
                        <i class="fa-solid fa-house-chimney" style="font-size: 20px;"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active for-a" aria-current="page" href="{{url_for('blueprint.profile')}}">
                        <i class="fa-solid fa-user" style="font-size: 20px;"></i> Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active for-a" aria-current="page" href="{{url_for('blueprint.info')}}">
                        <i class="fa-solid fa-address-book" style="font-size: 20px;"></i> Info
                    </a>
                </li>
                <li class="nav-item for-a">
                    <a class="nav-link" href="{{url_for('blueprint.python')}}">
                        <i class="fa-brands fa-python" style="font-size: 20px;"></i> Blog
                    </a>
                </li>
            </ul>
            
            <a href="{{url_for('blueprint.logout')}}" style="color: #ffffff; text-decoration: none; font-size: 22px; margin-top: auto;">
                <i class="fa-solid fa-right-from-bracket" style="font-size: 20px;"></i> Log Out
            </a>
        </div>
    </div>

    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow-lg">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Users Information</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-dark table-striped table-hover table-bordered text-white">
                            <thead class="table-secondary text-dark">
                                <tr>
                                    <th>Firstname</th>
                                    <th>Middlename</th>
                                    <th>Lastname</th>
                                    <th>Birthday</th>
                                    <th>Age</th>
                                    <th>Contact Number</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for users in data %}
                                <tr class="text-white">
                                    <td>{{ users[1] }}</td>
                                    <td>{{ users[2] }}</td>
                                    <td>{{ users[3] }}</td>
                                    <td>{{ users[4] }}</td>
                                    <td>{{ users[5] }}</td>
                                    <td>{{ users[6] }}</td>
                                    <td>{{ users[7] }}</td>
                                    <td><a href="{{ url_for('blueprint.delete', user_id=users[0]) }}">Delete</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
